.App {
  text-align: center;
}

.topNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  color: aliceblue;
}
.topNav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
